.LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
    
.LoginForm input {
    padding: 10px;
    margin: 5px 0;
    width: 200px;
}
    
.LoginForm button {
    padding: 10px;
    margin: 5px 0;
    width: 220px;
}